HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

*.yml
/live-front-web/src/main/resources/application.yml
/live-front-web/src/main/resources/application-dev.yml
/live-front-web/src/main/resources/application-prd.yml